{% extends "myapp/base.html" %}

{% block content %}
  <h1>Sign Up</h1>
  <form method="post">
    {% csrf_token %}
    {{ form.non_field_errors }}
    <div>
      {{ form.username.label_tag }} {{ form.username }}
      {% for err in form.username.errors %}
        <div style="color:red">{{ err }}</div>
      {% endfor %}
    </div>
    <div>
      {{ form.email.label_tag }} {{ form.email }}
      {% for err in form.email.errors %}
        <div style="color:red">{{ err }}</div>
      {% endfor %}
    </div>
    <div>
      {{ form.first_name.label_tag }} {{ form.first_name }}
      {% for err in form.first_name.errors %}
        <div style="color:red">{{ err }}</div>
      {% endfor %}
    </div>
    <div>
      {{ form.last_name.label_tag }} {{ form.last_name }}
      {% for err in form.last_name.errors %}
        <div style="color:red">{{ err }}</div>
      {% endfor %}
    </div>
    <div>
      {{ form.password1.label_tag }} {{ form.password1 }}
      {% for err in form.password1.errors %}
        <div style="color:red">{{ err }}</div>
      {% endfor %}
    </div>
    <div>
      {{ form.password2.label_tag }} {{ form.password2 }}
      {% for err in form.password2.errors %}
        <div style="color:red">{{ err }}</div>
      {% endfor %}
    </div>
    <button type="submit">Sign Up</button>
  </form>
{% endblock %}
